@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color:#2b3743;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-top:2px;
}

.btn:hover{
  background-color:#fff;
  color: grey;
}

body{
  font-family: 'Oswald', sans-serif;
  padding: 20px;
  background-color: #202d36;
  color:white;
}

.header{
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-between;
  background-color: #2b3743;
}

.filter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  flex-direction: column;
}


.filter .form-control{
  width: 100%;
}
.filter .form-control input{
  background-color: #2b3743;
  border: none;
  outline: none;
  padding: 12px;
  border-radius: 5px;
  color: #fff;
  font-family: inherit;
  letter-spacing: 0.5px;
  width: 100%;
  margin: 0 0 30px;
}

.filter .form-control input::placeholder{
  color: #fff;
}

.filter .region-filter{
  width: 100%;
}

.filter .region-filter .select{
  background-color: #2b3743;
  color: #fff;
  font-family: inherit;
  padding: 8px;
  width: 200px;
  border: none;
  border-radius: 5px;
}

.grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  box-shadow: 0 10px 10px rgba(9, 17, 22, 0.5);
}

.grid article img{
  border-radius: 5px 5px 0 0;
  height: 250px;
}

.grid .details{
  background-color: #2b3743;
  padding: 40px 20px;
  margin-top: -20px;
  border-radius: 0 0 5px 5px;
}

.grid .details h3{
  padding-bottom: 10px;
}

.grid .details h4{
  padding-bottom: 5px;
}

@media (min-width: 640px){
  .grid{
    grid-template-columns:repeat(2, 1fr);
  }
}

@media (min-width: 768px){
  .grid{
    grid-template-columns:repeat(3, 1fr);
  }
}

@media (min-width: 992px){
  body{
    padding: 50px 100px;
  }
  .grid{
    grid-template-columns:repeat(4, 1fr);
    gap: 60px;
  }
}